body {
  --mainColor: #ef7800;
  --mainColorLighter: #ff8800;
  --mainColorLightest: #ef7800;
  --mainHoverColor: #dd6600;
  --mainBackgroundColor: #e3e8e8;
  --mainForegroundColor: #652480;
  --secondaryColor: #652480;
  --greyForegroundColor: #677890;
  --greyBackgroundColor:#e2e8f0;
  --menuBackgroundColor: #652480;
  --menuForegroundColor: #fff;
  --submenuColor:#f7f7f7;
  --inputForegroundColor: #652480;
  --inputBackgroundColor: #fff;
  --inputPlaceholderColor: #753490;
  --textareaForegroundColor: #652480;
  --textareaBackgroundColor: #fff;
  --markdownTextareaBackgroundColor: #efefef;
  --actionButtonColor: #652480;
  --supportButtonBackgroundColor: transparent;
  --supportButtonColor: var(--actionButtonColor);
  --supportButtonHeartColor: #c47123;
  --activatedActionButtonColor:#652480;
}

#custom-css .header .icon-logo {
  background: url('../../static/images/Piraten_Logo.png') no-repeat;
  background-size: contain;
}
